<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/font/css/fontello.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/font/css/fontello.css}" type="text/css">

</head>
<body>


<div class="container-fluid d-flex min-vh-100">
    <div class="row">
        <div class="col-12 menubar d-flex flex-column align-items-center">
            <br/>
            <img src="/images/logo.png" class="img-fluid" style="max-width: 50px; margin-bottom: 40px">
            <div><a th:href="@{/}" target="_self" class="navigation"><i class="icon-home"></i></a></div>
            <div><a th:href="@{addbreakdown}" target="_self" class="navigation"><i class="icon-laptop"></i></a></div>
            <div><a th:href="@{list}" target="_self" class="navigation"><i class="icon-list-numbered"></i></a></div>
            <div><a th:href="@{todo}" target="_self" class="navigation"><i class="icon-clipboard"></i></a></div>
            <div><a th:href="@{technician}" target="_self" class="navigation"><i class="icon-address-card-o"></i></a>
            </div>
            <div><a th:href="@{stats}" target="_self" class="navigation"><i class="icon-chart-bar"></i></a></div>
            <div><a th:href="@{help}" target="_self" class="navigation"><i class="icon-help-circled"></i></a></div>
        </div>
    </div>


    <div class="container p-4">
        <div class="row my-3">
            <div class="col-md-3 col-12">
                <div class="tile1">
                    <ul class="list-group">
                        <li class="list-group-item active" aria-current="true">Top 5 today</li>
                    </ul>
                    <table class="table table-hover table-borderless">
                        <thead class="thead-light">
                        <tr>
                            <th class="result" style="color: #003d6bff; font-size: small; font-weight: bolder"
                                scope="col">Failure name
                            </th>
                            <th class="result" style="color: #003d6bff; font-size: small; font-weight: bolder"
                                scope="col">Count
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="findTopFailureNamesTodays, iterStat : ${findTopFailureNamesToday}"
                            th:if="${iterStat.index < 6}">
                            <td class="result" style="color: #003d6bff; font-size: small"
                                th:text="${findTopFailureNamesTodays[0]}"></td>
                            <td class="result" style="color: #003d6bff; font-size: small"
                                th:text="${findTopFailureNamesTodays[1]}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="tile1">
                    <ul class="list-group">
                        <li class="list-group-item active" aria-current="true">Top 5 week</li>
                    </ul>

                    <table class="table table-hover table-borderless">
                        <thead class="thead-light">
                        <tr>
                            <th class="result" style="color: #003d6bff; font-size: small; font-weight: bolder"
                                scope="col">Failure name
                            </th>
                            <th class="result" style="color: #003d6bff; font-size: small; font-weight: bolder"
                                scope="col">Count
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="findTopFailureNamesForLast7Day, iterStat : ${findTopFailureNamesForLast7Days}"
                            th:if="${iterStat.index < 5}">
                            <td class="result" style="color: #003d6bff; font-size: small"
                                th:text="${findTopFailureNamesForLast7Day[0]}"></td>
                            <td class="result" style="color: #003d6bff; font-size: small"
                                th:text="${findTopFailureNamesForLast7Day[1]}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="tile1">
                    <ul class="list-group">
                        <li class="list-group-item active" aria-current="true">Top 5 waiting ime</li>
                    </ul>
                    <table class="table table-hover table-borderless">
                        <thead class="thead-light">
                        <tr>
                            <th class="result" style="color: #003d6bff; font-size: small; font-weight: bolder"
                                scope="col">Computer name
                            </th>
                            <th class="result" style="color: #003d6bff; font-size: small; font-weight: bolder"
                                scope="col">Waiting time
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="findAllSortedByMaxWaitingTimeForComputerNames, iterStat : ${findAllSortedByMaxWaitingTimeForComputerName}"
                            th:if="${iterStat.index < 5}">
                            <td class="result" style="color: #003d6bff; font-size: small"
                                th:text="${findAllSortedByMaxWaitingTimeForComputerNames.computerName}"></td>
                            <td class="result" style="color: #003d6bff; font-size: small"
                                th:text="${findAllSortedByMaxWaitingTimeForComputerNames.waitingTime / 60}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="tile1">
                    <ul class="list-group">
                        <li class="list-group-item active" aria-current="true">Top 5 Downtime</li>
                    </ul>
                    <table class="table table-hover table-borderless">
                        <thead class="thead-light">
                        <tr>
                            <th class="result" style="color: #003d6bff; font-size: small; font-weight: bolder"
                                scope="col">Failure name
                            </th>
                            <th class="result" style="color: #003d6bff; font-size: small; font-weight: bolder"
                                scope="col">Downtime
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="MaxCounterForFailureNames, iterStat : ${MaxCounterForFailureName}"
                            th:if="${iterStat.index < 5}">
                            <td class="result" style="color: #003d6bff; font-size: small"
                                th:text="${MaxCounterForFailureNames.failureName}"></td>
                            <td class="result" style="color: #003d6bff; font-size: small"
                                th:text="${MaxCounterForFailureNames.counter}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-md-6 col-12">
                <div class="tile1">
                    <ul class="list-group">
                        <li class="list-group-item active" aria-current="true">Important to do</li>
                    </ul>
                    <table class="table table-hover table-borderless">
                        <thead class="thead-light">
                        <tr>
                            <th class="result" style="color: #003d6bff; font-size: small; font-weight: bolder"
                                scope="col">Task</th>
                            <th class="result" style="color: #003d6bff; font-size: small; font-weight: bolder" scope="col">Client</th>
                            <th class="result" style="color: #003d6bff; font-size: small; font-weight: bolder" scope="col">Priority</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="todos, iterStat : ${todo}"
                            th:if="${iterStat.index < 5}">
                            <td class="result" style="color: #003d6bff; font-size: small" th:text="${todos.task}"></td>
                            <td class="result" style="color: #003d6bff; font-size: small" th:text="${todos.client}"></td>
                            <td class="result" style="color: #003d6bff; font-size: small" th:text="${todos.priority}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="tile1">
                    <ul class="list-group">
                        <li class="list-group-item active" aria-current="true">Technician with Most Breakdowns</li>
                    </ul>
                    <table class="table table-hover table-borderless">
                        <thead class="thead-light">
                        <tr>
                            <th class="result" style="color: #003d6bff; font-size: small; font-weight: bolder" scope="col">Technician</th>
                            <th class="result" style="color: #003d6bff; font-size: small; font-weight: bolder" scope="col">Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="technicianCount : ${technicianCounts}">
                            <td class="result" style="color: #003d6bff; font-size: small" th:text="${technicianCount[0]}"></td>
                            <td class="result" style="color: #003d6bff; font-size: small" th:text="${technicianCount[1]}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous">
        </script>
    </div>
</div>
<script>
    function refreshPage() {
        location.reload();
    }

    setInterval(refreshPage, 10000);
</script>
</body>
</html>